body{
    font: 20px Calibri, sans-serif;
}

.navbar{
    background-color: #daa520;
}

.inicio{
    background: #fffafa;
}

.margin{
    padding-top: 20px;
    padding-bottom: 50px;
}

.blog{
    background-color: #191970;
}

.bg-footer{
    background-color: #daa520;
}